{"filter":false,"title":".gitignore","tooltip":"/practice-github/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":141,"scrollleft":0,"selection":{"start":{"row":22,"column":9},"end":{"row":22,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/ini"}},"timestamp":1607845020613,"hash":"d62c2169943d6da87f9465c3b74bae171e858dda"}